* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}
.nav-item{
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  min-height: 100px;
  background-color: #003;
  color: tomato;
}

header h1 {
  font-weight: bold;
}

.nav-menu {
  display: flex;
  gap: 20px;
}
.nav-link {
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
}
.nav-link:hover {
  color: tomato;
}

/* main-container */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.main-container img {
  max-width: 100%;
}

.welcome-section {
  display: flex;
  gap: 10px;
}

.section-welcome-img {
  flex: 1;
}

.section-welcome-noticias-recentes {
  max-width: 350px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.555);
  border-radius: 5px;
  padding: 10px;
}
.section-welcome-noticias-recentes h2 {
  margin-bottom: 10px;
  border-bottom: 2px solid tomato;
  padding-bottom: 10px;
  font-size: 1.4rem;
}

.noticias-recentes {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.555);
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
}
.noticias-recentes h3 {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.555);
  margin: 10px 0px;
  padding: 10px;
  color: tomato;
  border-radius: 5px;
}
.products{
  list-style-position: inside;
  background-color: #0003;
  padding: 20px;
  border-radius: 3px;
  margin: 10px 0px;
  list-style-type:square;
}

.products >li{
  color: rgba(0, 0, 0, 0.719);
  margin: 5px 0px;
}

.foto{
  border-radius: 5px;
}
.section-welcome-noticias-recentes p{
  line-height: 30px;
  text-align: justify;
}
/* responsividade */
@media screen and (max-width: 768px) {
  .welcome-section {
    display: block;
  }
  .section-welcome-noticias-recentes {
    max-width: 100%;
    display: block;
    margin-top: 20px;
  }
}
