* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/* header */

header {
  min-height: 90px;
  padding: 10px 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.548);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  text-decoration: none;
  cursor: pointer;
}
header a img.logo {
  width: 60px;
  height: 60px;
}
/* nav-menu */

.nav-menu {
  display: flex;
  gap: 10px;
}

.nav-item {
  list-style: none;
}

.nav-link {
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 1em;
  transition: 0.5s;
}

.nav-link:hover {
  color: orangered;
}

/* container */

.container {
  padding: 10px 20px;
}

/* welcome */
.welcome {
  display: flex;
  align-items: center;
  padding: 20px;
}

.welcome img {
  width: 100%;
}
.welcome-text {
  max-width: 800px;
}

.welcome-text h1 {
  color: rgb(126, 126, 126);
  font-weight: bold;
  font-size: 3.5rem;
  margin: 10px 0px;
}
.tittle-welcome {
  margin: 10px 0px;
  color: rgb(216, 109, 9);
}
.welcome-text p {
  line-height: 30px;
}

.btn-create-count {
  padding: 15px 20px;
  color: orange;
  font-weight: bold;
  border: 1px solid orange;
  cursor: pointer;
  transition: 0.5s;
  background-color: transparent;
}
.btn-create-count:hover {
  color: rgb(126, 126, 126);
  border: 1px solid rgb(126, 126, 126);
}
.linha {
  border: 2px solid rgb(126, 126, 126);
  margin: 10px 0;
  box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.651);
  padding: 20 20px;
}
.whatsapp {
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
  padding: 10px 40px;
}
.whatsapp img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 0.5s;
}
.whatsapp img:hover {
  width: 55px;
  height: 55px;
}
